<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-item *ngFor="let form of formsToShow">
    <ion-label>{{form.label}}</ion-label>

    <ng-container *ngIf="isSimpleType(form.typeForm)">
      <ion-input type="form.typeForm" [formControl]="form.formControl" ></ion-input>
    </ng-container>

    <ng-container *ngIf="isListType(form.typeForm)">
      <ion-select [formControl]="form.formControl" >
        <ion-select-option *ngFor="let value of form.values"  [value]="value">{{value}}</ion-select-option>
      </ion-select>
    </ng-container>

    <ng-container *ngIf="isTextarea(form.typeForm)">
      <ion-textarea [formControl]="form.formControl" ></ion-textarea>
    </ng-container>

    <!--TODO: complete types-->
  </ion-item>



  <ion-button [disabled]="!allForms.valid" (click)="sendToServer()">Send Form</ion-button>
</ion-content>
